@import url('../../global/global.css');

body {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

main {
    min-width: 100vw;
}

.fixed-background {
    inset: 0;
    z-index: -2;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url('../../../images/global/chill_cats.gif');
}

.fixed-background-blur {
    inset: 0;
    z-index: -1;
    position: absolute;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.4);
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: 2px solid var(--cor-cinza);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
}

.fixed-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.account {
    color: var(--cor-primario);
    font-size: 30px;
}

.logo {
    color: var(--cor-branco);
    font-size: 30px;
    font-weight: 600;
}

.logo span {
    color: var(--cor-primario);
    font-weight: 800;
}

.fixed-items a {
    transition: 0.70s ease;
}

.fixed-items a:hover {
    transform: scale(1.08);
}

.navbar a {
    color: var(--cor-branco);
    padding: 0 8px;
}

#header_icons {
    color: var(--cor-primario);
    font-size: 14px;
    transition: 0.70s ease;
}

#header_icons span {
    color: var(--cor-branco);
    padding: 0 3px;
    font-weight: 400;
}

#header_icons:hover {
    font-size: 16px;
}

.account {
    background: linear-gradient(
        90deg,
            var(--cor-primario),
            var(--cor-secundario),
            var(--cor-primario));

    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 2s linear infinite;
}

@keyframes glow {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 200% 50%;
    }
}

.first-section {
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.content {
    color: var(--cor-branco);
    margin: 0 auto;
}

h1 {
    color: var(--cor-branco);
    z-index: 0;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

h3 {
    display: flex;
    color: var(--cor-branco);
    position: relative;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 
    0px 1px 0 #000,
    0px 2px 0 #000;
}

.content span {
    background: linear-gradient(
        90deg,
            var(--cor-primario),
            var(--cor-secundario),
            var(--cor-primario));

    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 2s linear infinite;
}

.second-section {
    z-index: 3;
    display: flex;
    position: relative;
    align-items: center;
    height: 150px;
    margin-top: -80px;
    justify-content: center;
}

.second-section::before {
    content: '';
    position: absolute;
    margin-top: -12px;
    inset: 0;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        #000 10%
    );

    pointer-events: none;
}

.wrapper {
    z-index: 4;
    width: 90%;
    max-width: 100vw;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin: 0;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 85%,
        rgba(0,0,0,0)
    );
}

@keyframes scrollEffect {
    to {
        left: -200px;
    }
}

.card {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 8px;
    left: max(calc(200px * 8), 100%);
    position: absolute;
    animation-name: scrollEffect;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#card1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
    background-image: url('../../../images/global/internet_surfing.gif');
    
}
#card2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
    background-image: url('../../../images/global/meme.gif');
    background-position: center;
    background-size: 100% 180%;

}
#card3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
    background-image: url('../../../images/global/bass_color.gif');
    background-position: center;
    background-size: 135% 150%;
}
#card4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
    background-image: url('../../../images/global/internet_surfing.gif');
    background-position: center;
    background-size: 100% 100%;
}
#card5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
    background-image: url('../../../images/global/1155_dancing.gif');
    background-position: center;
    background-size: 100% 100%;
}

.third-section {
    z-index: 2;
    min-height: 40vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(28, 28, 28);
}

.third-section h1 {
    text-transform: uppercase;
    margin-top: -12px;
    margin-bottom: 32px;
    color: var(--cor-primario);
    text-shadow:
    0px 1px 0 #000,
    0px 2px 0 #000;
}

.third-section p {
    letter-spacing: -1px;
    text-align: center;
}

span a {
    transition: 0.5s ease-in-out;
}

span a:hover {
    font-size: 17px;
}