@import url('../../global/global.css');

.fixed-background {
    inset: 0;
    z-index: -2;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../../../images/global/chill_cats.gif);
}

.fixed-background-blur {
    inset: 0;
    z-index: -1;
    position: fixed;
}

header {

}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.20);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.fixed-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 22px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.fixed-items i {
    font-size: 22px;
    color: var(--cor-primario);
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-branco);
}

.logo span {
    font-weight: 800;
    color: var(--cor-primario);
}

.navbar a {
    font-weight: 500;
    color: var(--cor-branco);
}