@import url('../../global/global.css');

.below-label {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    margin: -5px 0 5px 5px;
}

.forgot-text {
    color: var(--cor-cinza);
    position: relative;
    transition: 0.70s ease;
}

.forgot-text:hover {
    color: var(--cor-branco);
}

.forgot-text::after {
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    color: var(--cor-primario);
    background: currentColor;
    position: absolute;
    transition: width 0.4s ease;
}

.forgot-text:hover:after {
    width: 100%;
}

.login {
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 16px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--cor-branco);
    box-shadow: 0 0 10px var(--cor-cinza);
    transition: 0.70s ease;
}

.login:hover {
    font-size: 17px; 
    background-color: var(--cor-primario);
    box-shadow: 0 8px 25px var(--cor-primario-brilho);
    transform: translateY(-3px) scale(1.02);
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 15px;
}

.register-link a {
    display: inline-block;
    color: var(--cor-branco);
    font-weight: 600;
    transition: 0.70s ease;
}

.register-link a:hover {
    font-size: 16px;
}

.register-text {
    position: relative;
}

.register-text {
    background: linear-gradient(
        90deg, 
        var(--cor-primario),
        var(--cor-secundario),
        var(--cor-primario)
    );

    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 2s linear infinite;
}

@keyframes glow {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 200% 50%;
    }
}

.register-text::after {
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    color: var(--cor-primario);
    background: currentColor;
    position: absolute;
    transition: width 0.4s ease;
}

.register-text:hover::after {
    width: 100%;
}