@import url('../../global/global.css');

.signin {
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 16px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--cor-branco);
    box-shadow: 0 0 10x var(--cor-cinza);
    transition: 0.70s ease;
}

.signin:hover {
    font-size: 17px;
    background-color: var(--cor-primario);
    box-shadow: 0 8px 25px var(--cor-primario-brilho);
    transform: translateY(-3px) scale(1.02);
}

.signin-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.signin-link a {
    transition: 0.70s ease; 
}

.signin-link a:hover {
    font-size: 16px;
}

.signin-text {
    font-weight: 600;
    position: relative;
}

.signin-text {
    background: linear-gradient(
        90deg,
            var(--cor-primario),
            var(--cor-secundario),
            var(--cor-primario));

    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: effect 2s linear infinite;
}

@keyframes effect {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 200% 50%;
    }
}

.signin-text::after {
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    color: var(--cor-primario);
    background: currentColor;
    position: absolute;
    transition: width 0.4s ease;
}

.signin-text:hover::after {
    width: 100%;
}